@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700);

/*-------------------------------------------------- 
/* body
/*-------------------------------------------------- */
body {
	font-family:Roboto,Arial,sans-serif;
	font-size:18px;
	line-height:22px;
	color:#000000;
	background:url(../img/background.jpg) center no-repeat fixed;
	background-size:cover;
	margin:0;
	padding:0;
}

textarea, input, select {
    box-sizing: border-box;
    text-align:justify;
}


.faded {
	background-color:rgba(124,131,80,0.6);
	padding: 0px 20px 20px 20px;
	margin-top:3px;
}

img {
	height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/*-------------------------------------------------- 
/* heading
/*-------------------------------------------------- */
h1,h2 {
	font-weight:lighter;
}

h3,h4,h5,h6 {
	font-weight:500; 
	color:#000000;
}

footer h3, footerh4, footerh5, footer h6 {
	font-weight:500; 
	color:#fff;
}

h1.h1-style {
	letter-spacing:-2px;
	font-weight:lighter;
}

h1.title {
	font-family: 'marck script';
	font-style: cursive;
	font-weight:bold;
	font-size: 48px;
	color: #000000;
	line-height:61px;
}

h3.title {
	font-family:marck script, cursive;
	font-size:24px;
	font-weight:700;
	padding-bottom:10px;
	margin-bottom:20px;
	line-height:31px;
}

h2 {
	font-family:marck script, cursive;
	font-size:38px;
	font-weight:700;
	color:#ffcb05;
	letter-spacing:-2px;
	line-height:48px;
	margin-left:5px;
}
h3.title-property {
	margin:0;
}

h3 {
	letter-spacing:-1px;
	margin-top:0;
}

.subheading { 
	display:block; 
	margin-bottom:10px;
}

a.btn-submit {
	display:block;
	width:80%;
}

a {
	color:#6a4a3d;
}
a:hover {
	color:#ec6841;
}

/*-------------------------------------------------- 
/* logo
/*-------------------------------------------------- */
#logo {
	text-align:center;	
}
#logo .inner {
	display:inline-block;
}

/*-------------------------------------------------- 
/* content
/*-------------------------------------------------- */

.content-image {
	border:5px double black;
	margin-bottom:10px;
}

/*-------------------------------------------------- 
/* small-list property
/*-------------------------------------------------- */
.small-list{ background:#fff; height:128px; margin-bottom:20px;
-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.1);
-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.1);
box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.1);
}
.small-list img{position:absolute;}
.small-list h2{font-size:16px; margin:0; line-height:normal;}
.small-list .info{ padding:10px; padding-left:185px;}
.small-list .arrow{ float:right; margin-top:100px; background:url(../img/small-arrow-right.png) center no-repeat; width:30px; height:16px; display:block;}
.small-list .label{position:absolute; z-index:100; margin:10px 0 0 10px;}
.small-list span{display:block;}
.small-list .price{display:inline-block; font-size:16px; margin:2px 0 2px 0;}
.small-list:hover{background:#f2f2f2;}

/*-------------------------------------------------- 
/* buttons
/*-------------------------------------------------- */
.green-button {
	font-family: marck script, cursive;
	font-weight: 700;
	font-size: 28px;
	color: #000000;
	padding: 0px 30px 0px 30px;
	background: url("http://static.parastorage.com/services/skins/2.995.7/images/wysiwyg/core/themes/base/indented_bg.png") repeat-x scroll 0 0 rgba(196, 201, 48, 1);
    border: 0 solid rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer !important;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
	text-shadow:none;
}

.btn:hover, 
.btn:focus,
.btn:active,
.green-button :hover,
.green-button :active
.green-button :focus{
	background-color: rgba(103, 105, 59, 1);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
	color: #ffcb05;
	text-shadow:none;
}

/*-------------------------------------------------- 
/* about us
/*-------------------------------------------------- */
.about-info {
	word-wrap:break-word;
	text-align:justify;
}

.about {
	text-align:center;
}

.about-text {
	font-size:16px;
	line-height:19px;
	word-wrap:break-word;
	text-align:justify;
	padding-bottom:10px;
}

.about-container {
	background-color:rgba(205,220,186,0.4);
    border-radius: 5px;
	-moz-box-shadow: 0 0 5px 5px #868B5C;
	-webkit-box-shadow: 0 0 5px 5px #868B5C;
	box-shadow: 0 0 5px 5px #868B5C;
	padding: 10px;
	float:none;
	margin: 0 auto;
	margin-top:15px;
}

h3.about {
	margin-bottom:0px;
	height: 62px;
}

.about-tiles {
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
}

.tile {
	padding-left: 0px;
	padding-right: 0px;	
}

.about-tile {
	width:220px;
	height:360px;
}

.about-image {
	margin-top:-15px;
}

/*-------------------------------------------------- 
/* accommodation
/*-------------------------------------------------- */

h3.room-title {
	margin-bottom:0px;
}


.room-description {
	margin-bottom:0px;
}

.room-price {
	font-family:Roboto,Arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-bottom:5px;
}

.price {
	font-weight:600;
	font-size:24px;
}

/* .price-info {
	text-shadow:none;
	display:inline-block;
	background:#fff;
	border:solid 1px #ddd;
	padding:5px 10px 0px 10px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.2);

} */

#accommodation-btn, #troyan-btn {
	margin-top:19px;
}

.room-carousel img {
	/*border: 4px double black;*/
	/*margin: 5px 0px;*/
}

.booking-btn {
	padding: 0 20px;
}

/*-------------------------------------------------- 
/* gallery
/*-------------------------------------------------- */

.thumbnail {	
	background-color: /* #868B5C; none;*/ rgba(255,255,255,0);
	display: block;
	padding: 0px;
	margin-bottom: 0px;
	line-height: 1.42857143;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border-radius: 0;
	border: none;
  
}

.selected {
	background-color:rgba(255,255,255,1);
}

.thumbnail img {
	margin-top:1px;
	padding-bottom:2px;
}

.selected img {
	opacity:0.6;
	border:4px double black;
	margin-top:0px;
	padding-bottom:0px;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
 }

 .glyphicon-chevron-left, .glyphicon-chevron-right {
	font-size: 30px;
    height: 30px;
    margin-top: -15px;
    width: 30px;
	display: inline-block;
    position: absolute;
    top: 50%;
	font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
 }
 
.photo-item {
	text-align:center;
 }
 
.carousel-inner > .item > img {
    display: inline;
	max-height:500px;
}

#galleryCarousel {
	margin-top: 20px;
}

/*-------------------------------------------------- 
/* booking
/*-------------------------------------------------- */
#booking{
	background:#dcbc86;
	padding:40px 0 40px 0;
}
#booking input{
	width:97%;
}


#booking span{ color:#fff; font-size:18px; padding-top:5px;}
#booking select{ border: solid 1px #fff;}
.span2 select{width:100%;}

.booking-form input{
	width:97%;
}

.booking-form select{
	width:102%;
}

.booking-form .span3{
	margin-bottom:10px;
}

.booking-form i{
	margin-right:8px;
	color:#6a4a3d;
}

.btn-book-submit{
	margin-top:30px;
}

.btn-primary{
	background:#ec6841;
	text-shadow:none;
	background: rgb(249,198,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
}
.btn-primary:hover{
	background:#d35c3a;
}

/*-------------------------------------------------- 
/* menu, navigation
/*-------------------------------------------------- */

#mainmenu-container {
	/*background:#f9f3e9;*/
	border-top:solid 1px #ffcb05;
	text-align:center;
	width:100%;
	padding-top:10px;
}
#mainmenu {
  color:#333;
  font-weight:400;
  font-size:13px;
  letter-spacing:0px;
  text-align:center;
}

#mainmenu ul {
  float:right;
  margin:0px 0px;
  padding:0px 0px;
  height:20px;
}

#mainmenu li {
  margin:0px 0px;
  padding:0px 0px;
  float:left;
  display:inline;
  list-style:none;
  position:relative;
}

#mainmenu a {
  display:block;
  padding:0px 20px;
  text-decoration:none;
  color:#fff7b6;
  font-family: 'Lobster', cursive;
  font-size:22px;
}

#mainmenu a:hover {
	color:#ffcb05;
}

#mainmenu li li {
	font-size:14px;
}

#mainmenu li li a {
	padding:10px 15px 10px 15px;
	border-top:none;
	text-transform:none;
	letter-spacing:normal;
}

#mainmenu li li a:hover{
	border-top:none;
}

#mainmenu li li a:hover {
	color:#ffcb05;
}

#mainmenu li ul {
  width:170px;
  height:auto;
  position:absolute;
  top:100%;
  left:0px;
  z-index:10;
  display:none;
}

#mainmenu li li {
  display:block;
  float:none;
}

#mainmenu li:hover > ul {
  display:block;
}

#mainmenu li ul ul {
  left:100%;
  top:0px;
}

#mainmenu li:hover a {
	color:#ffcb05;
	/*background:#58453F;*/
}

#mainmenu select {
	padding:10px; 
	height:36px; 
	font-size:14px; 
	border:none; 
	background:#ff4200; 
	color:#fff;
}

#mainmenu select option {
	padding:10px;
}

.selectnav {
	display:none;
}

/*-------------------------------------------------- 
/* footer
/*-------------------------------------------------- */
footer {
	padding:8px 0 8px 0;
}

footer a {
	color:#fff;
}

footer .footer-text {
	font-family:marck script, cursive;
	font-size:24px;
	font-weight:bold;
	color:#000;
	padding-top:5px;
}

.footer-content {
	padding:15px;
}

/*-------------------------------------------------- 
/* twitter
/*-------------------------------------------------- */
#twitter {margin:0; padding:0;}
#twitter li{ list-style:none; padding-left:50px; background:url(../img/twitter-bird.png) top left no-repeat; padding-bottom:10px; min-height:60px;}
#twitter a{color:#fff; text-decoration:underline;}

/*-------------------------------------------------- 
/* map
/*-------------------------------------------------- */
.map{margin-top:40px;}
.map iframe{width:100%; height:320px; border:solid 1px #ccc; padding:2px; background:#fff;}

#map-container iframe{width:100%; height:360px;}


/*-------------------------------------------------- 
/* label
/*-------------------------------------------------- */
.label{text-shadow:none;}
.rent{ background:#F90; color:#fff; padding:5px 10px 5px 10px;}
.sale{ background:#33CC00; color:#fff; padding:5px 10px 5px 10px;}
.text-label{ display:block; margin-bottom:10px;}


blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 30px;
  font-family:Georgia, "Times New Roman", Times, serif;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
    content: "\201C";

}
blockquote p {
  display inline;
}

blockquote span{
	font-family:"Open Sans", Arial;
	display:block;
	margin-top:10px;
}

/*-------------------------------------------------- 
/* related-property
/*-------------------------------------------------- */
.related-property{margin-top:40px; padding-top:40px; border-top:solid 1px #ccc;}

/*-------------------------------------------------- 
/* contact */
/*-------------------------------------------------- */
.error { width:280px; background:#FCD8DC; padding:2px 10px 2px 10px; display: none;color:#C03; font-size:12px;}
.success { display: none; padding:2px 10px 2px 10px; background:#E5EAD4; color:#555; width:280px;  font-size:12px;}
.error img { vertical-align:top; }
.full{ width:98%;}

.page-not-found { display:block; padding:100px 0 100px 0; text-align:center; font-size:20px;}
.page-not-found h1{ font-size:160px; margin-bottom:60px; font-weight:bold; color:#ccc;}

.blue{ background:#3bb6df; padding:15px;}
.red{ background:#F36; padding:15px;}
.orange{ background:#F90; padding:15px;}
.green{ background:#3C0; padding:15px;}

/* -------------------------------------------------- 
	isotope
/* -------------------------------------------------- */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#filters{padding:0; margin:0; margin-bottom:20px;}
#filters li{display:inline-block; margin-right:3px;  margin-bottom:20px; }
#filters a{color:#fff; padding:5px 10px 5px 10px; color:#555; border:solid 1px #ddd; text-decoration:none;}
#filters a:hover{ border:solid 1px #96C277;}
#filters a.selected{ background:#96C277; border:solid 1px #96C277; color:#FFF;}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

#flickr-photo-stream img{ width:50px; height:auto; margin:0 12px 12px 0; float:left;}
#flickr-photo-stream a img {border:solid 3px #fff;}
#flickr-photo-stream a:hover img {border:solid 3px #96C277;}

#call-to-action{
	background:url(../img/bg-blur-2.jpg) bottom center;
	padding:40px 0 40px 0;
}
.call-to-action{
	padding:20px 0 15px 0;
}
.call-to-action h3{margin-top:0;}

.social-icons {
text-align:right;
}
.social-icons img{margin:0 5px 5px 0;}
footer .social-icons img{margin:0 0;}


hr{
	border:none;
	height:80px;
	background:url(../img/divider-1.png) center no-repeat;
}

@media (max-width: 767px) {
	#logo{margin:0 auto; width:100%; text-align:center;}
	#logo .inner{ display:block; width:100%; height:auto; margin:20px 0 20px 0;}
	#slider{background:none; padding:0;}
  	#booking input,#booking select{width:100%; margin-bottom:10px;}
	#mainmenu{display:none;}
	.selectnav{display:block; margin:0 auto; margin-top:40px; margin-bottom:20px; width:100%}
	#featured .item{width:270px; margin:0 auto; margin-bottom:20px;}
	#featured{background-position:top;}
	
	header,#content,footer,#subheader,#booking{padding-left:20px; padding-right:20px;}
	header,#mainmenu-container{background:none; border:none;}
	#subheader h1{ border:none; margin-bottom:0px;}
	.subfooter{background:none;}
	.subfooter ul{ float:left;}
	.slider-info h1{font-size:20px; letter-spacing:normal; top:30%}
	#booking input{
	width:97%;
	}
	#booking select{
		width:100%;
	}
	a.btn-submit{
		width:95%;
	}

}

address span{
    display:block;
}
address span strong{
    display:inline-block;
    width:60px;
}

