
<div id="logo">
	<div class="container faded">
		<div class="row">
			<div class="col-lg-3">
				<!-- site logo -->
				<a href="index.html"><img src="img/nikol-house-logo.png" alt=""></a>
			</div>
			<div class="col-lg-9">
				<!-- site title begin -->
				<div id="site-title" class="title text-center">Къща за гости </br> НИКОЛ - гр. Троян</div>
				<!-- site title end -->
				<!-- mainmenu begin -->
				<div id="mainmenu-container">           
					<ul id="mainmenu">
					  <li><a href="index.html">За Нас</a></li>
					  <li><a href="accommodation.html">Настаняване и Цени</a></li>
					  <li><a href="gallery.html">Галерия</a></li>
					  <li><a href="troyan.html">За Троян</a></li>
					  <li><a href="contact.html">Контакти</a></li>
					</ul>
				</div>
				<!-- mainmenu end -->
			</div>
		</div>
	</div>
</div>